<script type="text/javascript" src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js"></script>

<script type="text/javascript" >
YUI().use( "node", function( Y ) {
    function updateImage() {
        Y.Node.one( "#theImage" ).set(
            "src", "{% url DrawTurksHead.views.draw %}"
            + "?bights=" + Y.Node.one( "#bights" ).get( "value" )
            + "&leads=" + Y.Node.one( "#leads" ).get( "value" )
            + "&line_width=" + Y.Node.one( "#line_width" ).get( "value" )
            + "&radius_variation=" + Y.Node.one( "#radius_variation" ).get( "value" )
        );
    }

    updateImage();
    Y.Node.one( "#leads" ).on( "click", updateImage );
    Y.Node.one( "#bights" ).on( "click", updateImage );
    Y.Node.one( "#line_width" ).on( "click", updateImage );
    Y.Node.one( "#radius_variation" ).on( "click", updateImage );
} );
</script>
