<p>Number of bights: <select id="bights">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option selected="selected">7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select></p>

<p>Number of leads: <select id="leads">
<option>1</option>
<option>2</option>
<option>3</option>
<option selected="selected">4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select></p>

<p>Line width (pixels): <select id="line_width">
<option>12</option>
<option>18</option>
<option>25</option>
<option>35</option>
<option selected="selected">50</option>
<option>70</option>
<option>100</option>
</select></p>

<p>Radius variation (pixels): <select id="radius_variation">
<option>100</option>
<option>150</option>
<option selected="selected">200</option>
<option>250</option>
</select></p>

<p><img id="theImage" src=""/></p>
