language: python
python:
- 2.7
sudo: required
before_install:
- echo We can migrate to container-based infrastructure when https://github.com/travis-ci/apt-package-whitelist/issues/1133 is solved
- sudo apt-get install libcairomm-1.0-dev libboost-all-dev
- wget http://www.cairographics.org/releases/py2cairo-1.10.0.tar.bz2
- tar xf py2cairo-1.10.0.tar.bz2
- cd py2cairo-1.10.0
- ./waf configure --prefix=$(python -c "import sys; print(sys.prefix)")
- ./waf build
- ./waf install
- cd ..
install:
- pip install sphinx matplotlib coveralls
- ls /home/travis/virtualenv/python2.7/lib/pkgconfig
- export PKG_CONFIG_PATH=PKG_CONFIG_PATH:/home/travis/virtualenv/python2.7/lib/pkgconfig
script:
- coverage run "--include=DrawTurksHead/*" setup.py test
- python setup.py build_sphinx --builder=doctest
after_success:
- coveralls
deploy:
  provider: pypi
  user: jacquev6
  password:
    secure: IxZkM+jLb2kdI836H4h5dAXFu33D7J1FUuJw/Os752XqH0wBK5Xkk/LFz383Nw6auz6ppwjgmnvKdogH+KZwZ/9E5UaNb3cA0veJJDxwdl1c3iZP8z5i0Bk+KsnqJgaUnNuEIWO46Y9LB6VzazhOwE3Ftc+5kzrnEXUU7285iE8=
  on:
    tags: true
    repo: jacquev6/DrawTurksHead
    python: 2.7
